.intro {
  width: 80%;
  height: 86%;
  background-color: rgba(150, 150, 150, 0.75);
  position: absolute;
  top: 12%;
  left: 10%;
  justify-content: center;
}
.introtxt{
  width: 44%;
  position: relative;
  left: 3%;
  box-sizing: border-box;
}
.intro ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  list-style-type: none;
}
.intro li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px;
}
