.list {
  table-layout: fixed;
  width: 33%;
  position: absolute;
  top: 12%;
  left: 10%;
  justify-content: center;
}
.list ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  list-style-type: none;
}
.list li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px;
}
.piccontent {
  height: width;
}